<ion-header>
  <ion-toolbar>
    <ion-title>Mis Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="listarReservas($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-list>
    <ng-container *ngFor="let reserva of listadoReservas">
      <ion-item-sliding (click)="presentActionSheet(reserva)">
        <ion-item>
          <ion-label>
            <h2>
              N° Reserva: <span> {{ reserva.id }}</span>
            </h2>
            <p>{{ reserva.departamento.direccion }}</p>
            <p>
              Reservado desde {{ reserva.fechaHoraInicio | date: 'dd/MM/yyyy HH:mm' }} hasta
              {{ reserva.fechaHoraTermino | date: 'dd/MM/yyyy HH:mm' }}
            </p>
          </ion-label>
          <ion-note slot="end">
            {{ reserva.createdAt | date: 'dd/MM/yyyy' }} <br />
            {{ reserva.createdAt | date: 'hh:mm a' }}
          </ion-note>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="presentActionSheet(reserva)">
            <ion-icon slot="start" name="more"></ion-icon>
            Más
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>
</ion-content>
