<ion-button *ngIf="paso == 1" class="btn_back" fill="clear" (click)="previous()" slot="start">
  <ion-icon slot="icon-only" name="md-arrow-back"></ion-icon>
</ion-button>
<ion-header *ngIf="paso == 2">
  <ion-toolbar>
    <ion-button fill="clear" (click)="previous()" slot="start">
      <ion-icon slot="icon-only" name="md-arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Reservar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="paso == 1">
  <!-- <ion-skeleton-text class="skeleton" animated></ion-skeleton-text> -->
  <ion-slides class="slide" pager="true" [options]="slideOpts">
    <ion-slide class="card_image">
      <ion-img src="https://picsum.photos/900/500?random&t={{ departamento.id + 3 }}"></ion-img>
    </ion-slide>
    <ion-slide class="card_image">
      <ion-img src="https://picsum.photos/900/500?random&t={{ departamento.id + 1 }}"></ion-img>
    </ion-slide>
    <ion-slide class="card_image">
      <ion-img src="https://picsum.photos/900/500?random&t={{ departamento.id + 5 }}"></ion-img>
    </ion-slide>
  </ion-slides>

  <ion-chip mode="ios" color="danger" outline="true" class="precio_depto">
    <ion-label>{{ departamento.tarifa | currency: 'CLP' }}</ion-label>
  </ion-chip>

  <ion-card class="card_depto">
    <ion-card-content>
      <div class="">
        <ion-text class="ion-text-center" color="medium">
          <h5 color="primary">{{ departamento.direccion }}</h5>
        </ion-text>

        <div class="ion-text-center ion-margin-top ">
          <span>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit
            clean.</span
          >
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-slides pager="false" [options]="slideOpts2" style="top: -20px;">
    <ion-slide>
      <ion-card class="card_service">
        <ion-card-header>
          <ion-card-title>Aire</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img src="../../../../assets/img/01.png"></ion-img>
        </ion-card-content>
      </ion-card>
      <ion-card class="card_service">
        <ion-card-header>
          <ion-card-title>Calefacción</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img src="../../../../assets/img/02.png"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="card_service">
        <ion-card-header>
          <ion-card-title>Televisión</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img src="../../../../assets/img/03.png"></ion-img>
        </ion-card-content>
      </ion-card>
      <ion-card class="card_service">
        <ion-card-header>
          <ion-card-title>Ducha</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img src="../../../../assets/img/04.png"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide class="slide_body">
      <ion-card class="card_service">
        <ion-card-header>
          <ion-card-title>Wifi</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img src="../../../../assets/img/05.png"></ion-img>
        </ion-card-content>
      </ion-card>
      <ion-card class="card_service">
        <ion-card-header>
          <ion-card-title>Papel</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img src="../../../../assets/img/06.png"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-content *ngIf="paso == 2">
  <form [formGroup]="formulario">
    <div class="ion-padding">
      <ion-item>
        <ion-label position="floating"
          >Fecha Inicio
          <span style="color: red" *ngIf="formulario.controls['fechaInicio'].invalid">
            *
          </span>
        </ion-label>

        <ion-datetime
          displayFormat="D MMM YYYY H:mm"
          (ionChange)="validarFecha($event.target.value)"
          formControlName="fechaInicio"
          name="fechaInicio"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating"
          >Fecha Termino
          <span style="color: red" *ngIf="formulario.controls['fechaTermino'].invalid">
            *
          </span>
        </ion-label>

        <ion-datetime
          displayFormat="D MMM YYYY H:mm"
          (ionChange)="validarFecha($event.target.value)"
          formControlName="fechaTermino"
          name="fechaTermino"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Cantidad de días: {{ cantidadDias }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Tarifa diaria: {{ departamento.tarifa | currency: 'CLP' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Total Reserva: {{ reserva.total | currency: 'CLP' }}</ion-label>
      </ion-item>
    </div>
  </form>
</ion-content>

<ion-footer no-border *ngIf="paso == 1">
  <ion-toolbar position="bottom">
    <ion-button position="bottom" (click)="next()" expand="full" class="ion-margin-top">
      <span>Continuar con la reserva</span>
    </ion-button>
  </ion-toolbar>
</ion-footer>

<ion-footer no-border *ngIf="paso == 2">
  <ion-toolbar position="bottom">
    <ion-button (click)="reservar()" expand="full" class="ion-margin-top">
      <span>Reservar</span>
    </ion-button>
  </ion-toolbar>
</ion-footer>
